pydantic
pydantic-settings
structlog

python-multipart

python-docx
pypdf
PyMuPDF

elasticsearch

langchain
langchain-openai
langchain-core
langchain-ollama
langchain-community
langchain-text-splitters

ollama
